<div ng-controller="NavigationCtrl"class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a ui-sref="home" class="navbar-brand">Friends</a>
        </div>

        <ul class="nav navbar-nav">
            <li ng-class="{active: $state.includes('{{item.state}}')}"
                ng-repeat="item in navItems">
                <a ui-sref="{{item.sref}}">
                    <span ng-show="item.icon" class="glyphicon {{item.icon}}"></span> {{item.title}}
                </a>
            </li>
        </ul>
    </div>
</div>
